/* 
    #242132
    #746CFE
    #AE8CFA
    #FEFCFF

*/
.gameCreated {
    height: 100vh;
    width: 100vw;
        /* From https://css.glass */
    background: rgba(174, 140, 250, 0.56);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14.7px);
    -webkit-backdrop-filter: blur(14.7px);
    border: 1px solid rgba(174, 140, 250, 0.3);
}

.gameCreated h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #242132;
    margin-bottom: 1rem;
    position: absolute;
    top : 0;
    left: 0;
    right: 0;
    margin: auto;
    
}

.gameCreated button {
    text-transform: uppercase;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background: #ae8cfa;
    opacity: 0.8;
    cursor: pointer;
    color: #746cfe;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 13px;
    box-shadow: 0 0 5px #746cfe,
        0 0 10px #746cfe,
        0 0 20px #746cfe,
        0 0 10px #ae8cfa;
}

.gameCreated button:hover {
    background: #746cfe;
    color: #ae8cfa;
}

.gameCreated button:active {
    
    position: relative;
    top: .2em;

    box-shadow: 0 0 5px #746cfe,
        0 0 10px #746cfe,
        0 0 20px #746cfe,
        0 0 90px #ae8cfa;
}

.homeBtn {
    position: absolute;
    top: 0;
    margin: 2rem;
    left: 0;
}

.createdBtn {
    position: absolute;
    margin: 2rem;
    bottom: 0;
}

.containerInputsAndSelects {
    display: flex;
    justify-content: space-around;
}

.left {
    width: 50%;
    display: flex;
    flex-direction: column;

    margin-top: 10rem;
}

.right {
    width: 50%;
    display: flex;
    flex-direction: column;

    margin-top: 10rem;
}

.inputContainer {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.inputContainer label {
    display: block;
    font-size: 1.2rem;
    font-weight: 700;
    color: #242132;
    margin-bottom: 0.5rem;
    text-transform: capitalize;
    text-align: start;

}

.inputContainer input {
    max-width: 354px;
    max-height: max-content;
    width: 95%;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: 0 10px;
    background: #ae8cfa;
    opacity: 0.8;
    cursor: pointer;
    color: #746cfe;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 13px;
    box-shadow: 0 0 5px #746cfe,
        0 0 10px #746cfe,
        0 0 20px #746cfe,
        0 0 10px #ae8cfa;
}

.inputContainer input:focus {
    outline: 0.5px solid #746cfe;
}

.inputContainer input::placeholder {
    color: #746cfe;
}

.textareaContainer {
        min-width: 95%;
        max-width: 95%;
        min-height: 100px;
        max-height: 150px;
        border: 1px solid #444;
        border-radius: 4px;
        background-color: #111;
        color: #fff;
        font-size: 17px;
        resize: none;
}