
.gameCreated {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to right, #242132, #746cfe, #ae8cfa);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.gameCreated h2 {
    font-size: 3rem;
    font-weight: 700;
    color: #242132;
    width: max-content;
    position: absolute;
    top: 0;
    margin-top: 1rem;
    text-shadow: 0 0 16px #ae8cfa;
}

.gameCreated .homeBtn,
.gameCreated .createdBtn {
    text-transform: uppercase;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background: #ae8cfa;
    opacity: 0.8;
    cursor: pointer;
    color: #746cfe;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 13px;
    box-shadow: 0 0 5px #746cfe,
        0 0 10px #746cfe,
        0 0 20px #746cfe,
        0 0 10px #ae8cfa;
}

.gameCreated .homeBtn:hover,
.gameCreated .createdBtn:hover {
    background: #746cfe;
    color: #ae8cfa;
}

.gameCreated .homeBtn:active,
.gameCreated .createdBtn:active {
    box-shadow: 0 0 5px #746cfe,
        0 0 10px #746cfe,
        0 0 20px #746cfe,
        0 0 90px #ae8cfa;
}

.homeBtn {
    position: absolute;
    top: 0;
    margin: 2rem;
    left: 0;
}

.createdBtn {
    position: absolute;
    margin: 2rem;
    bottom: 1rem;
    right: 4rem;
}

.createdBtn:disabled {
    background: #242132;
    opacity: 0.2;
    color: #ae8cfa;
    box-shadow: 0 0 5px #ae8cfa,
        0 0 10px #ae8cfa,
        0 0 20px #ae8cfa,
        0 0 90px #ae8cfa;
}

.createdBtn:disabled:hover {
    cursor: no-drop;
}

.form {
    width: 90%;
    height: 85%;
    background: #ae8cfa;
    border-radius: 5px;
    box-shadow: 0 0 5px #746cfe,
        0 0 10px #746cfe,
        0 0 20px #746cfe,
        0 0 40px #ae8cfa,
            0 0 90px #ae8cfa;
    background-color: #242132;
    margin-top: 3rem;
}

.containerInputsAndSelects {
    display: flex;
    justify-content: space-around;
}

.separador {
    margin-bottom: .2rem;
}

.containerInputsAndSelects label {
    font-size: 1.2rem;
    font-weight: 700;
    color: #ae8cfa;
    text-transform: capitalize;
    text-shadow: 0 0 6px #ae8cfa;
    display: block;
    text-align: start;
}

.left, .right {
    width: 50%;
}

.right {
    padding-top: 30px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2rem;
    margin-left: 2rem;
}

.inputContainer input {
    width: 100vh;
    height: 30px;
    border-radius: 5px;
    border: none;
    background: #ae8cfa;
    opacity: 0.8;
    cursor: pointer;
    color: #746cfe;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 13px;
    box-shadow: 0 0 5px #746cfe,
        0 0 10px #746cfe,
        0 0 20px #746cfe,
        0 0 10px #ae8cfa;
}

.inputContainer input:hover {
    background: #746cfe;
    color: #ae8cfa;
}

.inputContainer input:active {
    box-shadow: 0 0 5px #746cfe,
        0 0 10px #746cfe,
        0 0 20px #746cfe,
        0 0 90px #ae8cfa;
}

.inputContainer input:focus {
    outline: none;
}

.inputContainer input::placeholder {
    text-transform: capitalize;
}


.inputContainer textarea {
    min-width: 100vh;
    min-height: 100px;
    max-height: 150px;
    border: 1px solid #ae8cfa;
    border-radius: 5px;
    background: #ae8cfa;
    opacity: 0.8;
    cursor: text;
    color: #746cfe;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 13px;
    box-shadow: 0 0 5px #746cfe,
        0 0 10px #746cfe,
        0 0 20px #746cfe,
        0 0 10px #ae8cfa;
}

.inputContainer textarea:hover {
    background: #746cfe;
    color: #ae8cfa;
}

.inputContainer textarea:focus {
    outline: none;
}

.inputContainer textarea::placeholder {
    text-transform: capitalize;
}

.selectContainer {
    width: 100vh;
    margin: auto;
    text-align: start;
    margin-left: 10rem;
    
}

.selectContainer select {
    width: 50vh;
    height: 30px;
    border-radius: 5px;
    border: none;
    background: #ae8cfa;
    opacity: 0.8;
    cursor: pointer;
    color: #746cfe;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 13px;
    box-shadow: 0 0 5px #746cfe,
        0 0 10px #746cfe,
        0 0 20px #746cfe,
        0 0 10px #ae8cfa;
}

.selectContainer select:hover {
    background: #746cfe;
    color: #ae8cfa;
}

.genresContainer, .platformsContainer {
    display: flex;
}
.platforms, .genres {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    border: 2px solid #746cfe;
    border-radius: 5px;
    box-shadow: 0 0 5px #746cfe,
        0 0 10px #746cfe,
        0 0 20px #746cfe,
        0 0 10px #ae8cfa;
    background-color: #746cfe;
    color: #ae8cfa;
    font-size: 14px;
    font-weight: 600;
    max-width: max-content;
    padding: 3px;
    position: relative;
    margin-right: 14px;
}


.deleteBtn {
    background-color: rgba(255, 12, 12, .7);
    color: white;
    border: none;
    border-radius: 5px;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    font-size: 8px;
    font-weight: 600;
    margin: 5px;
    position: absolute;
    top: -8px;
    right: -5px;

    box-shadow: 0 0 5px red,
        0 0 10px red,
        0 0 20px #746cfe,
        0 0 10px #ae8cfa;
} 

.errorMessages {
    color: red;
    font-size: 12px;
    font-weight: 600;
    margin-left: 2rem;
}
